@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: "Outfit", sans-serif;
}
:root{
  --grayLight:#e6eaf1;
  --grayHover:#1e1f20;
}
#root{
  display: flex;
}
#sidebar{
  min-height: 100vh;
padding: 25px 15px;
animation: animate 0.4s ease;
}
#sidebar img{
  width: 20px;
}
 .menu{
  display: block;
 margin-left: 10px;
 padding: 5px;
 width: 30px;
 border-radius: 50%;
 transition: 0.2s ease-in;
 cursor: pointer;
}
.menu:hover{
  display: block;
  background-color: var(--grayHover);

}
.newChat{
  background-color: var(--grayHover);
display: inline-flex;
align-items: center;
color: gray;
border-radius: 50px;
font-size: 10px;
padding: 5px 15px;
gap: 10px;
margin-top: 10px;

}
.newChat img{
  width: 20px;
}
.recent-entry{
  display: flex;
  align-items: start;
  gap: 10px;
  padding:10px ;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  transition: 0.2s;
  animation: animate 0.4s ease-in;
}
@keyframes animate {
  0%{
    opacity: 0;
  }
  100%{
  opacity: 1;
  }
  
}
.recent-entry:hover{
 background-color: var(--grayHover);
 transform: scale(1.1);
}
.bottom-item{
display:flex;
align-items: center;
gap: 10px;
padding: 5px 10px;
border-radius: 50px;
transition: 0.2s ease-in;
cursor: pointer;
font-size: 14px;
}
.bottom .bottom-item:hover{
  background-color: #1e1f20;
  transform: scale(1.1);
}

#main-container{
max-width: 900px;
margin: 0 auto;
position: relative;
}
.greetName{
  font-size: 50px;
  background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546,orange,red,green,pink,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  gap: 15px;
  padding: 20px;
  
}
.card{
  color: #fff;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  background-color:#1e1f20;
  position: relative;
  cursor: pointer;
}
.card .img{
  position: absolute;
  width: 35px;
  padding: 5px;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  color: white;
}
.main-bottom{
width:900px;
margin: auto;
padding: 20px 10px;
}
.main-bottom .input-search{
  display: flex;
  align-items: center;
justify-content: space-between;
background-color: #1e1f20;
padding:15px 20px;
width: 100%;
border-radius: 20px;
position: absolute;
bottom: 0;
max-width: 900px;
margin: 0 auto;
position: relative;

}
.main-bottom .input-search img{
  width: 24px;
}

.input-search input{
  background-color:transparent;
  outline: none;
  flex: 1;
  color: #fff;
}
 
.input-search div{
  display: flex;
  align-items: center;
  gap: 4px;
}
.result{
  max-height: 70vh;

}
.loader{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 60%;
 
}

.loader span{
  border-radius: 5px;
  border:none;
  background-color: #202027; /* Dark mode background */
  background-image: linear-gradient(to right, #333 0%, #222 50%, #333 100%); /* Dark shimmer effect */
  background-size: 800%;
  animation: shimmer 1s infinite ease-in-out;
  height: 20px;
  transition:4s;
  background-size: 800px 50px;
}
.loader span:last-child{
  width: 60%;
}

@keyframes shimmer {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 800px 50px;
  }
}

.result-data img {
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bottom .bottom-item > p{
color: #fff;
}